

html {
  font-size: 16px;
  height:100%;
}

@media screen and (max-width:1000px) {
  html { font-size: 34px;}
}

body {
    -webkit-text-size-adjust: 100%;
}

h1 {
  font-size: 1rem;
  border-bottom: solid 0.4rem white;
  margin-bottom: 2rem;
}

h2 {
  border-bottom: dashed 0.1rem white;
}

h4{
  text-align:center;
}

dt{
  color:#D0D0D0;
}

dd{
  color:#FFFFFF;
}

a{
  color:inherit;
}

a:hover {
  color: #FFFFFF;
  font-weight: bold;
}


nav {
  opacity: 0.9;
  font-weight: bold;
  color: white;
}

.keppeki-logo {
  height: 2rem;

}

.nav-item {
  text-align: center;
  font-weight: bold;
  color: white;
  font-size: 1rem;
}

.navbar-nav > .dropdown.open > a.dropdown-toggle {
  background-color: black;
}

.top-contents-wrapper {
  background-color: #af1d24;
  padding: 1rem 0.5rem 1rem 0.5rem;
  height: 100%;
}

.twitter-wrapper {
  height: 100vh;
  overflow: scroll;
}

.top-nextstage-wrapper {
  color: white;
  padding-bottom: 1rem;
}

.next-stage-heading {
  color: white;
  font-weight: bold;
  border-bottom: solid 0.2rem white;
}

.next-stage-title {
  color: white;
  font-size: 1.3rem;
}

.next-stage-title-name {
  font-size: 1.7rem;
  display: inline-block;
  width: 100%;
  font-weight: bold;
  margin: 0.4rem 0 0.4rem 0;
}

.next-stage-producer {
  font-size: 1rem;
  text-align: right;
}

.next-stage-item {
  font-size: 1.2rem;
}

.next-stage-detail-link {
  width: 100%;
  height: 3rem;
  vertical-align: middle;
  line-height: 3rem;
}
.next-stage-detail-link:hover {
  background-color: white;
}

.top-notice-wrapper {
  background-color: white;
  margin-bottom: 1rem;
}

.notice-heading {
  color: black;
  border-bottom: solid 0.2rem black;
  font-weight: bold;
}

.notice-title {
  font-size: 1.3rem;
}

.notice-content {
  font-size: 1.1rem;
  padding-left: 1rem;
}

.contents-wrapper {
  background-color: #af1d24;
  color: white;
  padding: 4rem 1rem 1rem 1rem;
}

@media screen and (min-width: 1280px) {
  .contents-wrapper {
    width: 80%;
    margin: auto;
    padding: 4rem 5rem 2rem 5rem;
  }
}

.old-stage-wrapper {
  width: 95%;
  margin: 1rem auto 2rem auto;
  border-bottom: dotted 0.1rem white;
  padding: 1rem 0rem 1rem 0rem;
}

#footer-copyright {
  height: 3rem;
  margin: 2rem auto 1rem auto;
  text-align: center;
  font-size: 0.8rem;
  font-weight: bold;
}

.bg-slider{
	width: 100vw;
	height: 100vh;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
	justify-content: center;
}

.detail-title{
  color: white;
  font-size: 3.2rem;
}

.detail-author{
  color:white;
  font-size:2.0rem;
  text-align: right;
}

.detail-image{
  display: grid;
  justify-items: center;
  align-items: center;
  width:50%;
}

.detail-abstract{
  text-align:center;
  font-size:1.2rem;
}

.detail-contents{
  text-align: center;
  font-size:1.0rem;
  color:white;
}

.detail-link{
  color:#D0D0D0;
  font-size:1.2rem;
}

.links{
  color:#00D0FF;
  fonot-size:1.0rem;
}

.links:hover{
  color:#FFFFFF;
  font-weight:bold;
}

.links:visited{
  color:#D085FF;
}

.detail-actors{
  text-align:center;
  font-size:1.2rem;
}

.detail-line{
  color:#FFFFFF;
  size:5px;
}
